body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin:0px;padding:0px;
}

/* Portrait layout (default) */
.app {
    text-align: center;
	width:100%;
}
ul{height:0px;}
#name{
	font-weight:bold;
	text-align:center;
	width:99%;
    border: solid 2px #444;
    border-radius: 10px;
    padding: 10px 0px;
    font-size: 1em;
	color: #444;
	margin-bottom:10px;
}
#modalPage{
	width:100%;
	height:100%;
}
#mainPage{
	margin:5%;
}
#detailPage{
	color: white;
	padding:20px;
	background:#01253D;
}
#modal{
	z-index:1000 !important;
	padding-top:40%;
	font-size:2em;
	background:#ddd;
	position:fixed;
	width: 90%;
	border-radius:20px;
	margin-left:5%;
	text-align:center;
	height:30%;
	margin-top:40%;
}
#nameButton{
	width:100%;
    border-radius: 10px;
    padding: 10px;
	margin-bottom:10px;
    font-size: 1em;
	border:none;
	color:white;
    font-weight: bold;
	  background: #e01616;
  background-image: -webkit-linear-gradient(top, #e01616, #b82b2b);
  background-image: -moz-linear-gradient(top, #e01616, #b82b2b);
  background-image: -ms-linear-gradient(top, #e01616, #b82b2b);
  background-image: -o-linear-gradient(top, #e01616, #b82b2b);
  background-image: linear-gradient(to bottom, #e01616, #b82b2b);
}
ul, li{
	padding:20px 0px;
	margin:0px;
	list-style: none;
	margin-bottom:10px;
	z-index: 1 !important;
}
#signature{
	position:fixed;
	width:90%;
	bottom:0px;
}
li{
    border: solid 2px #444;
    border-radius: 10px;
    padding: 5px;
    font-size: 1em;
	color:white;
	border:none;
	background: #828282;
	background-image: -webkit-linear-gradient(top, #828282, #121212);
	background-image: -moz-linear-gradient(top, #828282, #121212);
	background-image: -ms-linear-gradient(top, #828282, #121212);
	background-image: -o-linear-gradient(top, #828282, #121212);
	background-image: linear-gradient(to bottom, #828282, #121212);
}
#mainImage{
	width:70%;
}
#refreshButton, #disconnectButton{
    border: solid 2px #444;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
	width:100%;
	border:none;
	color:white;
	margin-bottom:10px;
    font-weight: bold;
	  background: #e01616;
  background-image: -webkit-linear-gradient(top, #e01616, #b82b2b);
  background-image: -moz-linear-gradient(top, #e01616, #b82b2b);
  background-image: -ms-linear-gradient(top, #e01616, #b82b2b);
  background-image: -o-linear-gradient(top, #e01616, #b82b2b);
  background-image: linear-gradient(to bottom, #e01616, #b82b2b);
}
#connectButton{
    border: solid 2px blue;
    border-radius: 10px;
    padding: 5px;
    font-size: 1em;
	border:none;
	color:white;
	background: #e01616;
	background-image: -webkit-linear-gradient(top, #e01616, #b82b2b);
	background-image: -moz-linear-gradient(top, #e01616, #b82b2b);
	background-image: -ms-linear-gradient(top, #e01616, #b82b2b);
	background-image: -o-linear-gradient(top, #e01616, #b82b2b);
	background-image: linear-gradient(to bottom, #e01616, #b82b2b);
    font-weight: bold;
}
#accelerometerData{
	margin-top:110px;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 50px 40px 20px;
    text-align: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 2s linear;
    -moz-transition: -moz-transform 2s linear;
    -o-transition: -o-transform 2s linear;
    transition: transform 2s linear;
}

#logo{
    width: 70%;
    margin-left: -5%;
}
#cube figure {
    display: block;
    position: absolute;
    width: 196px;
    height: 196px;
    border: 2px solid white;
    line-height: 196px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#cube.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cube figure  { 
    background: hsla(0, 0%, 93%, 0.0) ;
}

#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }