

body {
    background-color: #00253c;
}

.card-block
{    
	background-color: #00253c;
}

#TelitLogoContainer
{
	text-align: center;
}

#TelitLogo
{
	width:160px;
	height:80px;
	margin-top: 10px;
	margin-right: 10px;
	z-index: 1;
}

#DesignRec
{
	width:100%;
	height:100px;
	background-color: #00253c;
	z-index: 2;
}

#btnConnectContainer
{
	text-align: center;
}

#InfTable 
{
	margin: auto;
	font-size:10pt;
	color: white;
}

#ConTable
{
	/*margin: auto;*/
	font-size:10pt;
	color: white;
}

#MainTable 
{
	margin: auto;
	font-size:10pt;
	color: white;
}

#nameSer{
	width:100%;
}

#nameTok{
	width:100%;
}

.infRight 
{
	margin-right: 15px;
	font-weight:normal;
}

.mainRight
{
	font-weight:normal;
	margin-left: 10px;
}

.mainLeft
{
	margin-left: auto;
}

